<div class="content-page-header col-12 py-3 pb-5">
    <h2 class="text-center font-weight-bold"><%= header %></h2>
    <%=link_to 'Add New Category', new_category_path, class:'btn btn-success d-block col-3 ml-auto' %>
</div>
