<div class="row py-5">

  <%= render 'shared/content_header',  header: 'Product Categories'  %>
  <div class="col-12">
    <%= render 'shared/content_table', table_headers: ['id','name', 'actions'], categories: @categories %>
  </div>

</div>

